
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a class="btn btn-outline-danger">Unfollow</a>
            <a asp-controller="Post" asp-action="Details" asp-route-postId="@Model" class="btn btn-outline-primary">Go to post</a>
            <button class="btn btn-outline-primary" data-dismiss="modal">Close</button>
        </div>
    </div>