<div class="modal fade" id="changePictureMenu" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="User" asp-action="UpdateProfilePicture" method="post" enctype="multipart/form-data">
                <input type="file" id="readFileBtn" class="form-control" asp-for="@Model" hidden />
                <input id="submitBtn" type="submit" value="Save" hidden />
            </form>
            <button type="button" class="btn btn-outline-success" id="uploadBtn">Update New Picture</button>
            <a class="btn btn-outline-danger" asp-controller="User" asp-action="RemoveProfilePicture">Remove Profile Picture</a>
            <button type="button" class="btn btn-outline-primary" id="closePictureMenu" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>
