<div class="modal fade" id="checkPassword" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel" aria-hidden="true"></button>
                <h5 class="modal-title">Enter your password to disable account</h5>
            </div>
            <form asp-controller="User" asp-action="SoftDelete" method="post">
                <input type="hidden" class="form-control" asp-for="@Model"/>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Enter your password here" required/>
                </div>
                <div class="form-group">
                    <input class="btn btn-outline-success btn-sm" type="submit" value="Proceed"/>
                </div>
            </form>
            <button type="button" class="btn btn-outline-primary btn-sm" id="closeModalBtn" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>