.not-available {
    text-align: center;
    width: 50%;
    margin: 2% auto;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    padding: 2%;
}


.row{
    margin-top: 2%;
}

.card-header{
    display: flex;
    justify-content:space-between;
}

.card-header a{
    padding: 2%;
    text-decoration:none;
}

.post-user img{
    width:50px;
    height:50px;
    border-radius:100%;
}

.post-actions i{
    cursor:pointer;
}

.modal-align{
    top:20%;
}

.modal-content .btn{
    margin:2%;
}

.card-body{
    padding:0;
}

.post-img{
    width:100%;
    height:500px;
}

.card-actions{
    padding:2%;
}

    .card-actions a {
        padding: 2%;
        cursor:pointer;
    }

.likes-count-section {
    padding:1%;
}

.view-comment-button {
    padding: 1%;
    
}
    .view-comment-button a {
        cursor: pointer;
    }

.comment {
    padding:1%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-comment img {
    width:25px; 
    height: 25px;
    border-radius:100%;
}

.comment-text {
    word-break: break-word;
}

    .comment-like a {
        cursor: pointer;
    }

.created-days-ago {
    padding:1%;
}

.comment-form {
    width: 90%;
}

.comment-input {
    margin-top: 0;
    width: 100%;
    height: 38px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline-color: #007bff;
    text-align: center;
}

.hide{
    display:none;
}

@media (max-width: 1081px) {

    .comment-form {
        width: 80%;
    }
}

@media (max-width: 892px) {

    .comment-form {
        width: 80%;
    }
}