
.col-md-8 {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 0;
}

.post-image img {
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

.col-md-4 {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.user {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%;
    border-bottom: 1px solid #dbdbdb;
    padding:2%;
}

    .user img {
        width: 50px;
        height: 50px;
        border-radius:100%;
    }

.user-name {
    margin-top:5%;
}

    .user-name:hover {
        text-decoration: none;
    }

hr {
    color: #dbdbdb;
}

p{
    margin-bottom:0;
}

.comment-section {
    overflow: auto;
    font-size: small;
    max-height: 33vh;
}

.comment {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%
}

.user-comment img {
    width:25px;
    height:25px;
    border-radius:100%;
}

.comment-text {
    word-break: break-word;
}

.comment-likes-count{
    margin-right: 1%;
}

.add-comment-section {
    margin: 2% 0;
}

.comment-form{
    width:71%;
}

.comment-input {
    margin-top: 0;
    width: 100%;
    height: 38px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline-color: #007bff;
    text-align: center;
}

.modal-align {
    top: 20%;
}

.modal-content .btn {
    margin: 2%;
}

.not-available {
    text-align: center;
    width: 50%;
    margin: 2% auto;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    padding: 2%;
}

.hide{
    display:none;
}


.other-posts {
    border: none;
    margin-top: 2%
}

.card-body {
    padding: 0;
}

.pointer {
    cursor: pointer
}

.splitter {
    margin-top: 5%;
}

.see-more {
    text-align: center
}

.other-posts-image {
    width:100%; 
    height:200px;
}

.likes-comments-count {
    display: flex;
    justify-content: space-around;
    padding: 2%
}

.to-profile {
    margin-top: 2%;
}

.to-profile:hover{
    text-decoration:none;
}