.user-info-container {
    display: flex;
    padding: 2%;
    width: 100%;
}

.user-image img {
    border-radius: 100%;
    width: 130px;
    height: 130px;
}

.user-info {
    padding: 2%;
    width:35%;
}

.count-info {
    margin-left: 2%;
    word-break: break-word;
}

.btn {
    margin: 2%;
    height: 30%;
}

#accountSettingModal{
    top:20%;
}

#changePictureMenu {
    top: 20%;
}

#checkPassword{
    top:20%;
}

.modal-header {
    display:block;
}

.modal-title{
    text-align:center;
}

#inputPassword {
    margin: 2% auto;
    width: 50%;
    text-align: center;
}

.form-group{
    text-align:center;
}

.not-available {
    text-align: center;
    width: 50%;
    margin: 2% auto;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    padding: 2%;
}

h2 {
    margin: 2%;
    font-family: 'Finger Paint';
    word-break: break-word;
    text-align:center;
    cursor:pointer;
}

.post{
    margin-top:2%;
}

.card-body{
    padding:0;
}

.post-img {
    width: 100%; 
    height:200px;
}

.post-actions {
    display: flex;
    justify-content: space-around;
    padding: 1%
}

.post-type {
    display: flex;
    justify-content: space-around;
}

.hide{
    display:none;
}

#unfollowModal{
    top:20%;
}