@model List<PopeyeClub.ViewModels.Chat.ChatRoomViewModel>

@section Styles{
    <link href="~/css/chat.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-header">
                <h2>Direct</h2>
                <button class="btn hvr-pulse-grow" type="button" data-toggle="modal" data-target="#createRoomModal">
                    <i class="far fa-edit" style="font-size:1.4em;"></i>
                </button>
                <partial name="./Partials/_CreateRoomPartial" />
            </div>
            <hr />
            <div class="list-of-users">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="user">
                        <input type="hidden" id="chatroomName-@i" name="chatRoomName" value="@Model[i].ChatroomName" />
                        <button class="btn" id="joinRoomBtn-@i" onclick="joinRoom(@i)">
                            <img src="data:image/jpeg;base64,@Model[i].UserImage" class="user-image" />
                            <span class="user-name">@Model[i].ChatRoomDisplayName</span>
                        </button>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-9" id="chatRoom"></div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/axios/axios.min.js"></script>
    <script src="~/js/chat.js"></script>
}